
<h3 class="text-center">Gestion des practiciens</h3>
<br/>
<table class="table" *ngIf="listPracticiens">
  <thead>
    <tr>
      <th>id</th>
      <th>Nom</th>
      <th>adresse</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let practicien of listPracticiens">
      <td>{{ practicien.id }}</td>
      <td>{{ practicien.nom }}</td>
      <td>{{ practicien.adresse }}</td>
      <td>{{ practicien.longitude }}</td>
      <td>{{ practicien.latitude }}</td>
      <td><button class="btn btn-success" (click)="openDialog(practicien)">Editer</button></td>
    </tr>

  </tbody>
</table>
