<div class="container_dialog">
  <h2 class="text-center">Création d'un practiciens</h2>
  <form id="formDetailPracticien" [formGroup]="detailPracticien" (ngSubmit)="onSubmitDetailPracticien(detailPracticien.value)">
    <div class="form-group">
      <label>Nom</label>
      <input class="form-control" formControlName="nom" />
    </div>
    <div class="form-group">
      <label>Adresse</label>
      <input class="form-control" formControlName="adresse" />
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input class="form-control" formControlName="longitude" readonly/>
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input class="form-control" formControlName="latitude" readonly/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" [disabled]="!detailPracticien.valid">Enregistrer</button>
    </div>
  </form>
</div>
