<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</head>
<div style="text-align:center">
  <h1>
    Géolocalisation des practiciens
  </h1>

  <form class="form-inline text-center" id="formDetailGeoloc" [formGroup]="geolocForm" (ngSubmit)="onSubmitGeoloc(geolocForm.value)">
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" formControlName="adresse_geolocalisation" placeholder="1045 route du stade" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" formControlName="ville_geolocalisation" placeholder="Artas" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" formControlName="code_postale_geolocalisation" placeholder="38440" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button class="btn btn-primary btn-block" [disabled]="!geolocForm.valid">Go</button>
    </div>
  </form>
  <button class="btn btn-success btn-block" (click)="geolocalisation()">Me géolocaliser</button>

  <div id="frugalmap">

  </div>
</div>
